@media all and (min-width: 480px) {
  .NewPermission {
    padding: 60px 0;
  }

  .NewPermission form {
    margin: 0 auto;
    max-width: 320px;
  }
}
/*.NewUser form {
  padding-bottom: 15px;
}*/

.NewPermission form textarea {
  height: 300px;
  font-size: 24px;
}
