.Users .lander {
  padding: 80px 0;
  text-align: center;
}

.Users .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Users .lander p {
  color: #999;
}

.Users .lander div {
  padding-top: 20px;
}
.Users .lander div a:first-child {
  margin-right: 20px;
}

.Users .user h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Users .user p {
  color: #666;
}
